DATABASE_URL=postgresql://username:password@localhost:5432/db_name
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
OTP_EXPIRE_MINUTES=
RESEND_COOLDOWN_SECONDS=

PROJECT_NAME=""
VERSION=
API_V1_PREFIX=

BACKEND_CORS_ORIGINS=["http://localhost:3000"]

ENVIRONMENT=
DEBUG=
LOG_LEVEL=

